.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  color: #09a7f2;
}

.App-link {
  color: #61dafb;
}

#container {
  display: flex;
}

.list-div {
  width: 30%;
  height: 100vh;
  background-color: #000;
  color: #FFF;
  transform: translateX(0);
  padding: 0.5em;
}

.map-div {
  position: relative;
  width: 100%;
 }

 .filter-field {
   display: flex;
   background-color: #282c33;
    border: solid #282c33;
 }

 #filter {
   background-color: #282c33;
   color: white;
   border: none;
   font-size: medium;
   font-weight: bold;
   margin-left: 0.4em;
 }

 .input-field {
   width: 80%;
 }

.hide-list {
  transform: translateX(-100%);
  width: 0%;
  transition: all 0.5s ease-out;
}

.place-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.place {
  background-color: black;
  color: white;
  font-size: smaller;
  margin: 1px;
}
